{% load widget_tweaks %}
{% csrf_token %}
{% for error in form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
{% endfor %}
<div class="container">
    {% for field in form %}
            <div class="form-group">
                {% if field|field_type == 'imagefield' or field|field_type == 'filefield' %}
                    {{ field|add_class:"form-right-input" }}
                {% elif field.name == 'title' %}
                    {{ field|add_class:'form-control'|append_attr:"placeholder:title *"|append_attr:'required' }}
                {% elif field.name == 'parent_id' %}
                    {{ field|add_class:'form-control'|append_attr:"placeholder:parent_id *"}}
                {% elif field.name == 'description' %}
                    {{ field|add_class:'form-control'|append_attr:"placeholder:description *"|append_attr:'required' }}
                {% elif field.name == 'category_id' %}
                    {{ field|add_class:'form-control'|append_attr:"placeholder:category *"|append_attr:'required' }}
                {% endif %}
            </div>
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="errorMsg"{% endif %} style="margin-top: 5px">{{ message }}</div>
            {% endfor %}
        {% endif %}

    {% endfor %}
</div>
<div class="col-auto" style="margin-bottom: 10px;">
    <input type="submit" class="btn btn-primary mb-2" value="{{ button_text }}">
</div>
